[flake8]
# Tests deliberately do incorrect things to test code.
# _cls_resources is just intended to be run, flake8 fails on the star imports
# used.
exclude = .git,__pycache__,.tox,.eggs,*.egg,_class_resources,tests
max-line-length=127
extend-ignore =
	# Allow spaces before operators for alignment
	E221
	# Allow 1*2 + 3 for spacing.
	E226
	# Allow no spaces arould default params.
	E252
	# Allow module level import later in the file.
	E402
	# Allow ... on same line as def
	E704
	# Allow *-imports.
	F403
	# name may be undefined, or defined from star imports: module
	F405
	# We want a blank line at end of file.
	W391
	# We want operators at the start of wrapped lines, not the end.
	W503
	# No complexity counts.
	C901
	# Flake8-annotations.
	# Type annotations for self & cls are not important.
	ANN101
	ANN102
