# Folder config file
Desktop.ini

# Compiled module files
__pycache__/

.idea/

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must ends with two \r.
Icon

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Portal 2 stuff
*.vmx
*.log
*.prt
*.filelist.txt

# Disttools
build/
dist/
srctools.egg-info/

srctools/_tokenizer\.html

srctools/_tokenizer\.c

srctools/_tokenizer\.pyd
