# Include the C/C++ sources
global-include *.c *.cpp *.h *.hpp
# Cython headers
global-include *.pxd
# Include .pyi stubs.
global-include *.pyi
# Include tests and docs in the sdist.
graft tests
graft docs
# Exclude Cython-generated code.
exclude src/srctools/*.cpp
exclude src/srctools/*.c
global-exclude *.pyc

# Remove build artifacts and other generated stuff, if they happen to be here.
prune .tox
prune docs/build
prune tests/.ruff_cache

# FGD database.
include src/srctools/fgd.lzma
# Marks as having type hints.
include src/srctools/py.typed
# Lookup table.
include src/libsquish/singlecolourlookup.inl
include src/libsquish/LICENSE.txt
