# Explicitly include the C/C++ sources, for cythonless installs.
global-include *.c *.cpp *.h *.hpp
# Cython headers
global-include *.pxd

prune .tox

# FGD database.
include srctools/fgd.lzma
# Marks as having type hints.
include srctools/py.typed
# Lookup table.
include libsquish/singlecolourlookup.inl
